<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>BookAPI</title>
</head>

<form action="/search" method="post">
    <input type="text" placeholder="book ID" id="bookID" class="bookID" name="bookID"/>
    <input type="submit" value="Pesquisar">
</form>

</body>
</html>